NODE_ENV=

DB_SERVER=
DB_PORT=1433
DB_USER=
DB_PASSWORD=
DB_DATABASE=

MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASSWORD=

MAIL_FROM=

SAL_SHPT_CUS_DIS_MAIL_TO='gi-shipping@germton.com.vn,mytien@germton.com.vn,it_software@germton.com.vn'
SUM_EXP_MON_REP_MAIL_TO='gi-acc@germton.com.vn, gi-shipping@germton.com.vn, it_software@germton.com.vn'
M3_M1_MIS_CRD_OVER_MAIL_TO='gi-pmc@germton.com.vn, it_software@germton.com.vn'
LATE_PAY_REQ_PUR_MAIL_TO ='Matthias@germton.com.hk, becca@germton.com.hk, florence@germton.com.hk, gcfabrics@germton.com.cn, gi-acc@germton.com.vn, gi-purchasing@germton.com.vn, it_software@germton.com.vn'
CARTER_MAIL_TO=' gi-salescartersbb@germton.com.vn,chien.tt@germton.com.vn,ly.vnc@germton.com.vn,luan.ntm@germton.com.vn,mytien@germton.com.vn,it_software@germton.com.vn'
GARMENT_PO_PENDING_RECEIVE_MATERIALS_MAIL_TO='tarry@germton.com.hk, fannyzhou@germton.com.cn, candyfan@germton.com.cn, gracexu@germton.com.cn, kaychen@germton.com.cn, cherrychen@germton.com.cn, gi-purchasing@germton.com.vn, gracexu@germton.com.cn, woody@germton.com.hk, becca@germton.com.hk, it_software@germton.com.vn'
ORDERS_PENDING_MPS_72H_MAIL_TO='gi-pmc@germton.com.vn; it_software@germton.com.vn'
PUR_PLAN_UNAPPROVED_24H_MAIL_TO='gi-pmc@germton.com.vn; it_software@germton.com.vn'
SHIPPING_WEEKLY_MAIL_TO='anita@germton.com.hk,couragetang@germton.com.cn,gi-shipping@germton.com.vn,it_software@germton.com.vn'
