NODE_ENV=

DB_SERVER=
DB_PORT=1433
DB_USER=
DB_PASSWORD=
DB_DATABASE=

MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASSWORD=

MAIL_FROM=
PUR_PLAN_UNAPPROVED_24H_MAIL_TO='gi-pmc@germton.com.vn,it_software@germton.com.vn'
